
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">

<body>
<div class="admin-content-body" layout:fragment="content"  id="container">
    <div class="am-scrollable-horizontal">
        <div class="am-input-group am-input-group-primary">

            <input type="text" placeholder="输入过滤条件" class="am-form-field"/>
            <span class="am-input-group-btn">
        <button class="am-btn am-btn-primary" type="button"><span class="am-icon-search"></span></button>
      </span>
        </div>
        <ul class="am-pagination am-pagination-right">
            <li class="am-disabled"><a href="#">&laquo;</a></li>
            <li class="am-active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
        <table class="am-table am-table-bordered  am-table-striped am-table-compact am-table-radius ">
            <thead>
            <tr>
                <th>序号</th>
                <th>位置</th>
                <th>状态</th>
                <th>值</th>
                <th>时间</th>
                <th>趋势K线</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="sensor: ${sensors}" >
                <td th:text="${sensor.id}">Oranges</td>
                <td  ><span th:text="${sensor.name}"></span><span class="am-badge am-badge-success am-radius" th:text="${sensor.c ==1 }?'':${sensor.c}"></span></td>
                <td th:text="${sensor.status}">0.99</td>
                <td th:text="${sensor.value}">0.99</td>
                <td th:text="${sensor.time}">0.99</td>
                <td ><a href="/sensor/chart/temperature.html" th:href="@{/sensor/chart/temperaturek.html(orderId=${sensor.id})}">日K</a> <a href="/sensor/chart/temperature.html" th:href="@{/sensor/chart/temperaturek.html(orderId=${sensor.id})}">30日K</a></td>
            </tr>


            </tbody>
        </table>
    </div>
</div>

</body>
</html>
