<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8"/>
    <title>温湿控效率日K线</title>
    <style type="text/css">
        html, body{
            height: 95%;
        }
    </style>
</head>
<body  >
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 100%;height:100%;"></div>

<script  type="text/javascript" th:src="@{/assets/js/jquery.min.js}" src="../../static/assets/js/jquery.min.js"></script>
<script  type="text/javascript" th:src="@{/assets/js/echarts.common.min.js}" src="../../static/assets/js/echarts.common.min.js"></script>
<script type="text/javascript" th:src="@{/assets/js/chart/humidityk.js}" src="../../static/assets/js/chart/humidityk.js"/>

</body>
</html>