<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="utf-8"/>
    <title>三项电流不平衡日K线</title>
    <style type="text/css">
        html, body{
            height: 95%;
        }
    </style>
</head>
<body  >
<div id="main" style="width: 100%;height:100%;"></div>
<script type="text/javascript"  th:inline="javascript">
    /*<![CDATA[*/
    var aSid=/*[[${aSid}]]*/'111_A4_A_0_00CF74';
    var bSid=/*[[${bSid}]]*/'111_B4_A_0_00CF74';
    var cSid=/*[[${cSid}]]*/'111_C4_A_0_00CF74';
    var sName=/*[[${sName}]]*/'青浦银涛3号配电站银涛3号低压柜3号';
    /*]]>*/
</script>
<script  type="text/javascript" th:src="@{/assets/js/jquery.min.js}" src="../../static/assets/js/jquery.min.js"></script>
<script  type="text/javascript" th:src="@{/assets/js/echarts.common.min.js}" src="../../static/assets/js/echarts.common.min.js"></script>

<script type="text/javascript" th:src="@{/assets/js/chart/threephasek.js}" src="../../static/assets/js/chart/threephasek.js"/>

</body>
</html>