


<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">

<body>
<div class="admin-content-body" layout:fragment="content">
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">数据分析</strong> >>
            <small>温度传感器日K线</small>
        </div>
    </div>

    <div class="am-g">

        <div class="am-u-sm-12 am-u-md-6">
            <div class="am-input-group am-input-group-sm">
                <input type="text" class="am-form-field"/>
                <span class="am-input-group-btn">
                        <button class="am-btn am-btn-default" type="button">搜索</button>
                        </span>
            </div>
        </div>
    </div>

    <div class="am-g">
        <div class="am-u-sm-12">
            <form class="am-form">
                <table class="am-table am-table-striped am-table-hover table-main">
                    <thead>
                    <tr>
                        <th class="table-id">序号</th>
                        <th class="table-title">名称</th>
                        <th class="table-type">状态</th>
                        <th class="table-author am-hide-sm-only">值</th>
                        <th class="table-date am-hide-sm-only">时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td><a href="#">市北10kv江湾城站10kV进线2#柜A相温度</a></td>
                        <td>正常	</td>
                        <td class="am-hide-sm-only">25.5 ℃	</td>
                        <td class="am-hide-sm-only">2016-5-22 17:21:18</td>

                    </tr>

                    </tbody>
                </table>
                <div class="am-cf">
                    共 15 条记录
                    <div class="am-fr">
                        <ul class="am-pagination">
                            <li class="am-disabled"><a href="#">«</a></li>
                            <li class="am-active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">»</a></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>

    </div>


</div>




</body>
</html>


