
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">

<body>
<div class="admin-content-body" layout:fragment="content"  id="container">

</div>
<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&amp;key=5a8ce2fc0ffdea3332750842b211cdb7"/>
<script th:inline="javascript">
    /*<![CDATA[*/
    var corporates=/*[[${corporates}]]*/
            sensorArr=JSON.parse(corporates);
    console.log(sensorArr)
    /*]]>*/
</script>
<script type="text/javascript" th:src="@{/assets/js/amap/jinshan.js}" src="../../static/assets/js/amap/jinshan.js"/>

</body>
</html>




